$cd-violet: #9356DC;
$cd-degrade: linear-gradient(to bottom right, #FF79DA, #9356DC);

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contain {
    max-width: 1100px;
    margin: 0 auto;
  }

.color {
    background-color: darkgrey;
}


@keyframes carte {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes heart {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes validation {
    from {
        right: 0%;
    }

    to {
        right: 100%;
    }
}

@keyframes deroulant {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/*HEADER*/
header {
    width: 100%;
    height: auto;
    text-align: center;

        a {
            font-size: 1.6rem;
            float: left;
            color: black;
            text-decoration: none;
        }

        h1 {
            text-align: center;
            font-family: 'shrikhand', cursive;
            background-color: white;
            margin: 0;
            padding: 10px;
            font-size: 25px;
        }

        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
            position: relative;
        }
}


/*SECTION MENU*/


section {
    h2 {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        margin-top: -50px;
        border-radius: 15px 15px 0px 0px;
        background-color: #EFEFEF;
        font-family: "shrikhand";
    }

    &.carte {
        background-color: #EFEFEF;
        height: auto;
        width: 100%;
        padding-bottom: 50px;
        animation: 2s;    
    }
}

.heart_container {
    .far {
      margin-top: 0px;
        position: absolute;
        right: 5%;
        font-size: 24px;
        transition: 0,4s ease-in;
        animation: heart 0,4s;
        opacity: 1;
    }

    .fas.hidden {
      margin-top: -1px;
        position: absolute;
        right: 5%;
        opacity: 0;
        font-size: 24px;
        transition: 0.4s ease-out;
        background: -webkit-linear-gradient(#FF79DA, #9356DC);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: 1s;
    }

    &:hover {

      .far {
          opacity: 0;
      }
      .fas.hidden {
        opacity: 1;
      }
    }
}

.far {
    margin-top: 0px;
    position: absolute;
    right: 5%;
    font-size: 24px;
    animation: heart 1s;
    opacity: 1;

    &:hover {
      color: white;
      opacity: 0;
    }
  }

  .fas.hidden {
    margin-top: -1px;
    position: absolute;
    right: 5%;
    opacity: 0;
    font-size: 24px;
    transition: 0.4s ease-out;
    background: -webkit-linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 1s;
  
      &:hover {
        opacity: 1;

      }
  }

/*MENU*/
.menu_entier {
    margin: 20px;
    justify-content: center;
}

.categorie {
    font-weight: lighter;
    display: block;
    padding-bottom: 10px;
    border-bottom: 3px solid #99E2D0;
    width: 2em;
}

.sous_menu {
    width: auto;
    margin-bottom: 10px;
    border-radius: 30px;
    box-shadow: 2px 2px 5px 2px #dddddd;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    animation: deroulant 2s forwards;
    opacity: 0;
    cursor: pointer;

        &--a {
            animation-delay: 0s;
        }

        &--b {
            animation-delay: 500ms;
        }

        &--c {
            animation-delay: 1s;
        }

        &--d {
            animation-delay: 1500ms;
        }

        &--e {
            animation-delay: 2s;
        }

        &--f {
            animation-delay: 2500ms;
        }

        :nth-child(1){
            margin: 0px;    
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        p {
            margin: 0px;
            margin-top: 5px;
            font-weight: lighter;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            width: 1;
        }

        .prix {
            margin: 0;
            animation: move-prix 2s;
            padding-bottom: 10px;
            padding-right: 10px;
            align-items: flex-end;
            margin-right: 10px;
            transition: margin-right 1s;
        }

        &--first {
            display: flex;
            flex-direction: column;
            padding: 15px;
        }

        &>.validation{ 
            opacity: 0;
            height: 90px;
            width: 0px;
            line-height: 120px;
            text-align: center;
            background-color: #99e2d0;
            position: absolute;
            transition: 1s;
            right: -50px;
            bottom: 0px;
            padding-left: 20px;
            padding-right: 5px;
        }

        .fas.fa-check {
            border-radius: 50%;
            color: #99e2d0;
            font-size: 22px;
            background-color: white;
            transform: rotate(0);
            transition: transform 1s;
        }

        &:hover {
            .validation{
                opacity: 1;
                right: 0%;
                width: 35px;
            }

            .fas.fa-check {
                transform: rotate(-360deg); 
                margin-right: 20px; 
            }

            .prix {
                margin-right: 55px;
                transition: margin-right 1s;
            }
        }
}

button {
    display: block;
    margin: 0 auto;
    background: $cd-degrade;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    outline: none;
    color: white;
    margin-top: 70px;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
    box-shadow: 0 3px 3px gray;
    &:hover {
      box-shadow: 0 2px 3px gray;
      top: 2px;
    }
    &:active {
      box-shadow: 0 1px 3px gray;
      top: 5px;
    }
  }

/*FOOTER*/

footer {
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
    text-decoration: none;

    ul {
        padding: 0;
        list-style: none;
        line-height: 30px;
    }

    ul>li>a {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }

    .icone_footer1 {
        margin-right: 10px;
    }

    .icone_footer2 {
        margin-right: 4px;
    }
}

.logo_footer {
    font-family: 'shrikhand', cursive;
    margin: 0px;
    font-size: 18px;
    padding: 0;
}




@media all and (max-width: 1100px) {

}

@media all and (max-width: 768px) {
    
}

