body {
  font-family: 'Roboto', sans-serif;
  margin: 0px 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

h2 {
  padding: 20px 20px 0px 20px;
}

.contain {
  max-width: 1100px;
  margin: 0 auto;
}

@-webkit-keyframes heart {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes heart {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes load-spinner {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes load-spinner {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes load {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}

@keyframes load {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}

/*DESKTOP*/
/*LOADDING ACCUEIL*/
.load {
  position: fixed;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  height: 100%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: 3s load forwards;
          animation: 3s load forwards;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-content: center;
}

.load p {
  text-align: center;
  font-family: 'shrikhand', cursive;
  color: white;
  font-size: 30px;
}

.dot {
  text-align: center;
}

.loader-dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 35px;
  -webkit-animation: 1s load-spinner;
          animation: 1s load-spinner;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  background: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loader-dot--one {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  margin-left: unset;
}

.loader-dot--two {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loader-dot--three {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

/*HEADER*/
header {
  width: 100%;
  height: auto;
  background: #EFEFEF;
  padding-bottom: 50px;
}

header h1 {
  text-align: center;
  font-family: 'shrikhand', cursive;
  background-color: white;
  margin: 0;
  padding: 10px;
  font-size: 25px;
}

header nav {
  background-color: #eaeaea;
  text-align: center;
  padding: 15px;
  height: auto;
  -webkit-box-shadow: inset 0px 1px 2px lightgray;
          box-shadow: inset 0px 1px 2px lightgray;
}

header .fa-map-marker-alt {
  margin-right: 10px;
}

header h2 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px;
}

header p {
  text-align: center;
  font-weight: lighter;
  width: auto;
  padding: 20px;
  margin: 0;
}

header button {
  display: block;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 15px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  color: white;
  cursor: pointer;
  position: relative;
  -webkit-box-shadow: 0 3px 3px gray;
          box-shadow: 0 3px 3px gray;
}

header button:hover {
  -webkit-box-shadow: 0 2px 3px gray;
          box-shadow: 0 2px 3px gray;
  top: 2px;
}

header button:active {
  -webkit-box-shadow: 0 1px 3px gray;
          box-shadow: 0 1px 3px gray;
  top: 5px;
}

/*SECTION FONCTIONNEMENT*/
section {
  background-color: white;
}

.fonctionnement_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  padding: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  margin-bottom: 20px;
  padding-right: 10px;
  background: white;
  max-width: 325px;
  width: 100%;
  height: 70px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 10px lightgrey;
          box-shadow: 1px 1px 10px lightgrey;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
}

.container:hover {
  background: #fff3fc;
}

.first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #9356DC;
  height: 25px;
  width: 25px;
  background-color: #9356DC;
  border-radius: 25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -10px;
  position: absolute;
  color: white;
}

.choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-left: 40px;
}

.choose .icone_ {
  margin-right: 15px;
}

.choose .icone {
  margin-right: 20px;
}

.choose:hover :nth-child(1) {
  color: #FF79DA;
}

/*SECTION RESTAURANTS*/
.types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.types a {
  color: black;
  text-decoration: none;
  width: 325px;
}

figure {
  background: white;
  height: auto;
  max-width: 325px;
  margin: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 1px 1px 10px darkgrey;
          box-shadow: 1px 1px 10px darkgrey;
  position: relative;
  cursor: pointer;
}

figure:hover {
  -webkit-box-shadow: 1px 2px 8px gray;
          box-shadow: 1px 2px 8px gray;
  top: 2px;
}

figure:active {
  -webkit-box-shadow: 0 1px 3px gray;
          box-shadow: 0 1px 3px gray;
  top: 5px;
}

figure .new {
  background-color: #99E2D0;
  display: inline;
  border-radius: 3px;
  padding: 5px 10px;
  position: absolute;
  margin: 10px;
  top: 0;
  right: 0;
  color: #20705b;
}

figure img {
  height: 175px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.heart_container .far {
  margin-top: 0px;
  position: absolute;
  right: 5%;
  font-size: 24px;
  -webkit-transition: 0,4s ease-in;
  transition: 0,4s ease-in;
  -webkit-animation: heart 0,4s;
          animation: heart 0,4s;
  opacity: 1;
}

.heart_container .fas.hidden {
  margin-top: -1px;
  position: absolute;
  right: 5%;
  opacity: 0;
  font-size: 24px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: 1s;
          animation: 1s;
}

.heart_container:hover .far {
  opacity: 0;
}

.heart_container:hover .fas.hidden {
  opacity: 1;
}

figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px 10px 20px;
}

figcaption h3 {
  margin: 0;
  margin-bottom: 5px;
}

figcaption p {
  margin: 0;
  margin-bottom: 10px;
}

figcaption .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.groupe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.background2 {
  background: #EFEFEF;
  padding-bottom: 50px;
}

/*FOOTER*/
footer {
  background-color: #2c2c2c;
  color: white;
  padding: 20px;
  text-decoration: none;
}

footer ul {
  padding: 0;
  list-style: none;
  line-height: 30px;
}

footer ul > li > a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

footer .icone_footer1 {
  margin-right: 10px;
}

footer .icone_footer2 {
  margin-right: 4px;
}

.logo_footer {
  font-family: 'shrikhand', cursive;
  margin: 0px;
  font-size: 18px;
  padding: 0;
}

@media (max-width: 1100px) {
  .container2 {
    margin: 20px;
  }
  figure {
    margin-top: unset;
  }
}

@media (max-width: 768px) {
  .fonctionnement_div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .groupe {
    display: unset;
  }
}
/*# sourceMappingURL=style.css.map */