body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/*DESTOP*/
.desktop_ {
    display: flex;
    margin-bottom: 30px;
}

.center {
    max-width: 1340px;
    width: calc(100% - 50px);
    margin: 0 auto;
    padding: 0 25px;
}

/*HEADER*/
header {
    width: 100%;
    background-color: white;
    box-shadow : 1px 1px 10px lightgrey;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 164px;
    object-fit: contain;
    padding-top: 21px;
    padding-bottom: 21px;
}

.background {
    background-color: #eaeaea;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 15px;
}

.ville {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ville span {
    margin: 20px;
}

.background2 {
    background-color: #f6f6f6;
    padding: 20px;
    padding-bottom: 55px;
}

p.discover {
    text-align:center;
    font-weight: lighter;
    margin-bottom: 30px;
}

.linear-gradient {
    display: block;
    text-align: center;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border-radius: 30px;
    height: 50px;
    width: 185px;
    line-height: 50px;
    color: white;
    text-decoration: none;
    border:none;
    margin: auto;
    box-shadow: 1px 1px 10px lightgrey;

}

/*ASIDE*/

aside {
    margin-bottom: 50px;
}
.title1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container1 {
    background-color: white;
    height: 70px;
    box-shadow: 1px 1px 10px lightgray;
    border-radius: 15px;
    width: 100%;
    max-width: 320px;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.container1 :hover {
    background-color: #fff3fc
}

.container1 :hover :nth-child(1) {
    color: #FF79DA
}

.first { 
    height: 25px;
    width: 25px;
    background-color: #9356DC;
    border-radius: 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
}

.choose {
    display: flex;
    align-items: center;
    padding: 20px;
}

.choose>p {
    margin-left: 20px;
    text-align: center;
    line-height: 50px;
}

.icone {
    font-size: 1.2em;
    color: gray;
}

.icone_ {
    color: gray;
}


.explore {
    
    padding-left: 20px;
    padding-right: 20px;
}

button a {
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 30px;
    }

button {
    display: block;
    margin: auto;
    }

.first { 
    height: 25px;
    width: 25px;
    background-color: #9356DC;
    border-radius: 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
}

.first>p {
    margin: unset;
    padding: 3px 5px;
    text-align: center;
    color: white;
}

/*ARTICLE*/

article img {
    display: block;
    width: 100%;
    max-width: 335px;
    height: 175px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.container2 {
    background-color: white;
    box-shadow: 1px 1px 10px lightgrey;
    border-radius: 15px;
    width: 100%;
    max-width: 320px;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px
}

.container2>a {
    display: flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
}

.container2>a>.container_top>.new {
    background-color: #99E2D0;
    width: fit-content;
    border-radius: 3px;
    padding: 5px 10px;
    position: absolute;
    margin: 10px; 
    top: 0;
    right: 0;
    color: #20705b;
}

.container2>a>.container_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 20px;
    color: black;
}

.name {
    margin: unset;
    width: fit-content;
}

.name>h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.name>p {
    margin-bottom: 0;
    font-weight: lighter;
}

.place {
    margin-top: unset;
}

.heart {
    font-size: 1.5em;
}

.btn :hover{
    background-color: linear-gradient(to bottom right, #FF79DA, #9356DC);

}

article h3 {
    margin-bottom: unset;
}

/*FOOTER*/
footer {
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
}

footer img {
    width: 95px;
}

footer ul {
    padding: 0;
    list-style: none;
    line-height: 30px;
}

.icone_footer1 {
    margin-right: 10px;
}

.icone_footer2 {
    margin-right: 4px;

}



/*RESPONSIVE*/
@media (max-width:576px) {
/*INDEX*/ /*NAV*/ 
.desktop_ {
    display: unset;
}

header {
    width: 100%;
    background-color: white;
    box-shadow : 1px 1px 10px lightgrey;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 164px;
    object-fit: contain;
    padding-top: 21px;
    padding-bottom: 21px;
}

.background {
    background-color: #eaeaea;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 15px;
}

.ville {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ville p {
    margin-left: 15px;
}

.background2 {
    background-color: #f6f6f6;
    padding: 20px;
    padding-bottom: 55px;
}

p.discover {
    text-align:center;
    font-weight: lighter;
    margin-bottom: 30px;
}

/*ASIDE*/
.center {
    max-width: 375px;
    width: calc(100% - 40px);
    margin: 0 auto;
    padding: 0 20px;
}

.title1 {
    margin-top: 30px;
    margin-bottom: 0px;
}


button a {
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 30px;
    }

button {
    display: block;
    margin: auto;
    }

.first { 
    height: 25px;
    width: 25px;
    background-color: #9356DC;
    border-radius: 25px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
}

.first>p {
    margin: unset;
    padding: 3px 5px;
    text-align: center;
    color: white;
}

/*ARTICLE*/
article img {
    display: block;
    width: 100%;
    max-width: 335px;
    height: 175px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.container2 {
    background-color: white;
    box-shadow: 1px 1px 10px lightgrey;
    border-radius: 15px;
    width: 100%;
    max-width: 320px;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px
}

.container2>a {
    display: flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
}

.container2>a>.container_top>.new {
    background-color: #99E2D0;
    width: fit-content;
    border-radius: 3px;
    padding: 5px 10px;
    position: absolute;
    margin: 10px; 
    top: 0;
    right: 0;
    color: #20705b;
}

.container2>a>.container_bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px 20px;
    color: black;
}

.name {
    margin: unset;
    width: fit-content;
}

.name>h3 {
    margin-top: 0;
    margin-bottom: 5px;
}

.name>p {
    margin-bottom: 0;
    font-weight: lighter;
}

.place {
    margin-top: unset;
}

.heart {
    font-size: 1.5em;
}

article h3 {
    margin-bottom: unset;
}

/*FOOTER*/
footer {
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
}

footer img {
    width: 95px;
}

footer ul {
    padding: 0;
    list-style: none;
    line-height: 30px;
}

.icone_footer1 {
    margin-right: 10px;
}

.icone_footer2 {
    margin-right: 4px;

}

}