$cd-violet: #9356DC;
$cd-degrade: linear-gradient(to bottom right, #FF79DA, #9356DC);

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*@keyframes move-prix {
    from {
      margin-right: 0%;
    }
    to {
      margin-right: 20%;
    }
  }*/

@keyframes heart {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes sous_menu {
    from {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: 100% 0%;
    }

    to {
        margin-bottom: 0px;
        opacity: 1;
        transform: scaleY(1);
        transform-origin: 100% 0%;
    }
}

@keyframes validation {
    from {
        right: 0%;
    }

    to {
        right: 100%;
    }
}

/*HEADER*/
header {
    width: 100%;
    height: auto;
    text-align: center;
}

header a {
    font-size: 1.6rem;
    float: left;
    
    text-decoration: none;
}

header>h1 {
    text-align: center;
    font-family: 'shrikhand', cursive;
    background-color: white;
    margin: 0;
    padding: 10px;
    font-size: 25px;
}

/*IMAGE*/
img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: relative;
}

/*SECTION MENU*/
.carte {
    background-color: #EFEFEF;
    position: relative;
    transform: translateY(-5%);
    height: auto;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 50px;
}

section>h2 {
    margin: 20px;
    text-align: center;
    font-family: 'shrikhand', cursive;
    justify-content: space-between;
    position: relative;
    display: flex;
}

#heart {
    height: 30px;
    width: 30px;
    animation: heart; 
        &:hover {
            #stroke {
                stroke-width: 0;
            }
            fill: url(#gradient);
            stroke-width: 0;
            
            transition: 1s ease-in-out;
        }
}

/*MENU*/
.menu_entier {
    margin: 20px;
    justify-content: center;
}

.categorie {
    font-weight: lighter;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #99E2D0;
    width: 2em;
}

.sous_menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    padding: 15px;
    margin: 10px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 2px 2px 5px 2px #dddddd;
    font-size: 1rem;
    background-color: white;
    animation: menu 1000ms 3500ms both;
    overflow: hidden;
    animation: plat 1200ms 1500ms both;
}

.sous_menu>h3 {
    margin: 0px;    
    overflow: hidden;
    text-overflow: ellipsis;
}

.sous_menu>p {
    margin: 0px;
    margin-top: 5px;
    width: 85%;
    font-weight: lighter;
}

.sous_menu :nth-child(1) {
    flex: 1 100%;
    margin-right: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.prix {
    right: -20px;
    animation: move-prix 2s;
}

button {
    display: block;
    margin: 0 auto;
    width: 140px;
    background: $cd-degrade;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    outline: none;
    color: white;
    cursor: pointer;
    position: relative;
    box-shadow: 0 3px 3px gray;
    margin-top: 50px;
}

.sous_menu>.validation{ 
    opacity: 0;
    height: auto;
    width: 50px;
    line-height: 105px;
    text-align: center;
    background-color: #99e2d0;
    position: absolute;
    right: -10%;
    bottom: 0px;
    padding-left: 20px;
        &:hover {
            right: 0%;
            opacity: 1;
            transition: 1s;

        }
}

.fas.fa-check {
    opacity: 1;
    border-radius: 50%;
    color: #99e2d0;
    background-color: white;
    transform: rotate(0);
        &:hover {
            opacity: 1;
            transform: rotate(360deg);
            transition: transform 1000ms;
        }
  }

/*FOOTER*/

footer {
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
    text-decoration: none;
    transform: translateY(-30%);
}

.logo_footer {
    font-family: 'shrikhand', cursive;
    margin: 0px;
    font-size: 18px;
    padding: 0;
}

footer ul>li>a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

footer ul {
    padding: 0;
    list-style: none;
    line-height: 30px;
}


@media (max-width: 1100px) {

}

@media (max-width: 768px) {
    
}

