body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.contain {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

.color {
  background-color: darkgrey;
}

/*@keyframes move-prix {
    from {
      margin-left: 0%;
    }
    to {
      margin-left: 30%;
    }
  }*/
@-webkit-keyframes carte {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes carte {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes heart {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes heart {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes carte {
  from {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  to {
    margin-bottom: 0px;
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}

@-webkit-keyframes validation {
  from {
    right: 0%;
  }
  to {
    right: 100%;
  }
}

@keyframes validation {
  from {
    right: 0%;
  }
  to {
    right: 100%;
  }
}

@-webkit-keyframes deroulant {
  from {
    opacity: 0;
    margin-top: 50px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes deroulant {
  from {
    opacity: 0;
    margin-top: 50px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}

/*HEADER*/
header {
  width: 100%;
  height: auto;
  text-align: center;
}

header a {
  font-size: 1.6rem;
  float: left;
  color: black;
  text-decoration: none;
}

header h1 {
  text-align: center;
  font-family: 'shrikhand', cursive;
  background-color: white;
  margin: 0;
  padding: 10px;
  font-size: 25px;
}

header img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

/*SECTION MENU*/
section h2 {
  margin: 20px;
  text-align: center;
  font-family: 'shrikhand', cursive;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

section.carte {
  background-color: #EFEFEF;
  position: relative;
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
  height: auto;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  padding-bottom: 50px;
  -webkit-animation: 2s;
          animation: 2s;
}

/*#heart {
    height: 30px;
    width: 30px;
    animation: heart; 
        &:hover {
            #stroke {
                stroke-width: 0;
            }
            fill: url(#gradient);
            stroke-width: 0;
            
            transition: 1s ease-in-out;
        }
}*/
.far {
  margin-top: 0px;
  position: absolute;
  right: 5%;
  font-size: 24px;
  -webkit-animation: heart 1s;
          animation: heart 1s;
  opacity: 1;
}

.far:hover {
  color: white;
  opacity: 0;
}

.fas.hidden {
  margin-top: -1px;
  position: absolute;
  right: 5%;
  opacity: 0;
  font-size: 24px;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: 1s;
          animation: 1s;
}

.fas.hidden:hover {
  opacity: 1;
}

/*MENU*/
.menu_entier {
  margin: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categorie {
  font-weight: lighter;
  display: block;
  padding-bottom: 10px;
  border-bottom: 2px solid #99E2D0;
  width: 2em;
}

.sous_menu {
  width: auto;
  margin-bottom: 10px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 5px 2px #dddddd;
          box-shadow: 2px 2px 5px 2px #dddddd;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  overflow: hidden;
  -webkit-animation: deroulant 2s forwards;
          animation: deroulant 2s forwards;
  opacity: 0;
}

.sous_menu--a {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.sous_menu--b {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.sous_menu--c {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.sous_menu--d {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.sous_menu--e {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.sous_menu--f {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
}

.sous_menu :nth-child(1) {
  margin: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sous_menu p {
  margin: 0px;
  margin-top: 5px;
  font-weight: lighter;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 1;
}

.sous_menu .prix {
  margin: 0;
  -webkit-animation: move-prix 2s;
          animation: move-prix 2s;
  padding-bottom: 10px;
  padding-right: 10px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-right: 10px;
  -webkit-transition: margin-right 1s;
  transition: margin-right 1s;
}

.sous_menu--first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
}

.sous_menu > .validation {
  opacity: 0;
  height: 90px;
  width: 0px;
  line-height: 105px;
  text-align: center;
  background-color: #99e2d0;
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  right: -50px;
  bottom: 0px;
  padding-left: 20px;
}

.sous_menu .fas.fa-check {
  border-radius: 50%;
  color: #99e2d0;
  background-color: white;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.sous_menu:hover .validation {
  opacity: 1;
  right: 0%;
  width: 35px;
}

.sous_menu:hover .fas.fa-check {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  margin-right: 20px;
}

.sous_menu:hover .prix {
  margin-right: 55px;
  -webkit-transition: margin-right 1s;
  transition: margin-right 1s;
}

button {
  display: block;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 15px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  color: white;
  cursor: pointer;
  position: relative;
  -webkit-box-shadow: 0 3px 3px gray;
          box-shadow: 0 3px 3px gray;
}

button:hover {
  -webkit-box-shadow: 0 2px 3px gray;
          box-shadow: 0 2px 3px gray;
  top: 2px;
}

button:active {
  -webkit-box-shadow: 0 1px 3px gray;
          box-shadow: 0 1px 3px gray;
  top: 5px;
}

/*FOOTER*/
footer {
  background-color: #2c2c2c;
  color: white;
  padding: 20px;
  text-decoration: none;
  -webkit-transform: translateY(-30%);
          transform: translateY(-30%);
}

footer ul {
  padding: 0;
  list-style: none;
  line-height: 30px;
}

footer ul > li > a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.logo_footer {
  font-family: 'shrikhand', cursive;
  margin: 0px;
  font-size: 18px;
  padding: 0;
}
/*# sourceMappingURL=menu.css.map */