$cd-violet: #9356DC;
$cd-degrade: linear-gradient(to bottom right, #FF79DA, #9356DC);

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  padding: 20px 20px 0px 20px;
}

.contain {
  max-width: 1100px;
  margin: 0 auto;
  width: 100%;
}

@keyframes box-appear {
  0% {
    opacity: 0;
    margin-top: -300px;
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes load-spinner-balls {
  0% {
    opacity: 1;
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load-spinner-balls-index {
  0% {
    opacity: 1;
    transform: rotate(0);
    transform: scale(2);
  }
  25% {
    transform: rotate(-360deg);
  }
}

@keyframes load-spinner-balls-before {
  0% {
    transform: translate(-5px, -5px);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-5px, -5px);
  }
}

@keyframes load-spinner-balls-after {
  0% {
    transform: translate(5px, 5px);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(5px, 5px);
  }
}

@keyframes load-wrapper {
  0% {
    z-index: 1;
    position: fixed;
  }
  75% {
    z-index: 1;
  }
  100% {
    z-index: -1;
  }
}

@keyframes heart {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*DESKTOP*/
/*LOAD*/
.load-wrapper {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
  animation: load-wrapper 5s;
}

.load-spinner {
  margin: 30px 48%;
  width: 40px;
  height: 40px;
  opacity: 0;
  position: absolute;
}

.load-spinner.load-spinner--index {
  margin: 400px 40%;
  width: 25%;
}

.load-spinner-balls {
  animation: load-spinner-balls 1.5s linear;
}

.load-spinner-balls.load-spinner-balls--index {
  animation: load-spinner-balls-index 3s alternate;
}

.load-spinner-balls:before {
  border-radius: 50%;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #9356dc;
  position: absolute;
  top: 0;
  left: 0;
  animation: load-spinner-balls-before 1.5s;
}

.load-spinner-balls:after {
  border-radius: 50%;
  content: "";
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  background-color: #ff79da;
  position: absolute;
  bottom: 0;
  right: 0;
  animation: load-spinner-balls-after 1.5s;
}

/*HEADER*/
header {
  width: 100%;
  height: auto;
  background: #EFEFEF;
  padding-bottom: 50px;
    
    h1 {
      text-align: center;
      font-family: 'shrikhand', cursive;
      background-color: white;
      margin: 0;
      padding: 10px;
      font-size: 25px;  
    }
    
    nav {
      background-color: #eaeaea;
      text-align: center;
      padding: 15px;
      height: auto;
      box-shadow: inset 0px 1px 2px lightgray;
    }
    
    .fa-map-marker-alt {
      margin-right: 10px;
    }
    
    h2 {
      text-align: center;
      margin-bottom: 0;
      margin-top: 20px;
    }
    
    p {
      text-align: center;
      font-weight: lighter;
      width: auto;
      padding: 20px;
      margin: 0;    
    }
    
    button {
      display: block;
      margin: 0 auto;
      background: $cd-degrade;
      padding: 15px 20px;
      border: none;
      border-radius: 20px;
      outline: none;
      color: white;
      cursor: pointer;
      position: relative;
      box-shadow: 0 3px 3px gray;
      &:hover {
        box-shadow: 0 2px 3px gray;
        top: 2px;
      }
      &:active {
        box-shadow: 0 1px 3px gray;
        top: 5px;
      }
    }
}

/*SECTION FONCTIONNEMENT*/
.fonctionnement_div { 
  display: flex;
  flex-flow: row;
  padding: 20px;
  justify-content: space-evenly;
}
.container1 {
  display: flex;
  margin: 10px;
  margin-bottom: 20px;
  padding-right: 10px;
  background: white;
  max-width : 325px;
  width: 100%; 
  height: 70px;
  border-radius: 20px;   
  box-shadow: 1px 1px 10px lightgrey;
  margin-top: 20px;
  position: relative;
  
  &:hover {
    background: #fff3fc;
  }
}

.first {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $cd-violet;
  height: 25px;
  width: 25px;
  background-color: $cd-violet;
  border-radius: 25px;
  top: 50%;
  transform: translateY(-50%);
  left: -10px;
  position: absolute;
  color: white;
}

.choose {
  display: flex;
  align-items: center;
  width: 100%;
  padding-left: 40px;
  
  .icone_ {
    margin-right: 15px;   
  }
  
  
  .icone {
    margin-right: 20px;
  }
  
  &:hover :nth-child(1) {
    color: #FF79DA;
  }
}

/*SECTION RESTAURANTS*/
.types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

    a {
      color: black;
      text-decoration: none;
    }
}

figure {
  background: white;
  height: auto;
  max-width: 325px;
  margin: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px darkgrey;
  position: relative;
  cursor: pointer;

      &:hover {
        box-shadow: 1 2px 8px gray;
        top: 2px;
      }
      &:active {
        box-shadow: 0 1px 3px gray;
        top: 5px;
      }

      .new {
        background-color: #99E2D0;
        display: inline;
        border-radius: 3px;
        padding: 5px 10px;
        position: absolute;
        margin: 10px;
        top: 0;
        right: 0;
        color: #20705b;
      }

      img {
        height: 175px;
        width: 100%;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
      }

      
}

.heart_container {
    .far {
      margin-top: 0px;
        position: absolute;
        right: 5%;
        font-size: 24px;
        transition: 0,4s ease-in;
        animation: heart 0,4s;
        opacity: 1;
    }

    .fas.hidden {
      margin-top: -1px;
        position: absolute;
        right: 5%;
        opacity: 0;
        font-size: 24px;
        transition: 0.4s ease-out;
        background: -webkit-linear-gradient(#FF79DA, #9356DC);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: 1s;
    }

    &:hover {

      .far {
          opacity: 0;
      }
      .fas.hidden {
        opacity: 1;
      }
    }
}

figcaption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px; 

    h3 {
      margin: 0;
      margin-bottom: 5px;
    }

    p {
      margin: 0;
      margin-bottom: 10px;
    }

    .name {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    
}

.groupe {
  display: flex;
}

.background2 {
  background: #EFEFEF;
  padding-bottom: 50px;
}


/*FOOTER*/

footer {
  background-color: #2c2c2c;
  color: white;
  padding: 20px;
  text-decoration: none;
  
  .logo_footer {
    font-family: 'shrikhand', cursive;
    margin: 0px;
    font-size: 18px;
    padding: 0;
  }
  
  ul>li>a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  
  ul {
    padding: 0;
    list-style: none;
    line-height: 30px;
  }
  
}

@media (max-width: 1100px) {
  .container2 {
    margin: 20px;
  }
}

@media (max-width: 768px) {
  .fonctionnement_div { 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .groupe {
    display: unset;
  }
  
}